<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.CheckGroupMapper">

    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id">

        insert into t_checkgroup values (null,#{code},#{name},#{helpCode},#{sex},#{remark},#{attention})
    </insert>

    <!--添加检查组和检查项中间表数据-->
    <!--<insert id="setCheckGroupAndCheckItem">
        insert into t_checkgroup_checkitem values(#{id},#{checkItemId})
    </insert>-->

    <insert id="setCheckGroupAndCheckItem">
        insert into t_checkgroup_checkitem values
        <foreach collection="checkItemIds" item="checkItemId" separator=",">
            (#{id},#{checkItemId})
        </foreach>
    </insert>

    <!--分页查询检查组-->
    <select id="findByCondition" resultType="CheckGroup">
        select * from t_checkgroup
        <if test="queryString!=null and queryString.trim()!=''">
            where code = #{queryString} or name like "%" #{queryString} "%" or helpCode = #{queryString}
        </if>
    </select>

    <!--通过id检查组-->
    <select id="findById" resultType="CheckGroup">
        select * from t_checkgroup where id = #{id}
    </select>

    <!--删除检查项和检查组关系-->
    <delete id="deleteAssociation">
        delete from t_checkgroup_checkitem where checkgroup_id = #{id}
    </delete>

    <!--编辑更新检查组-->
    <update id="edit">
        update t_checkgroup
        <set>
            <if test="code!=null">
                code = #{code},
            </if>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="helpCode!=null">
                helpCode = #{helpCode},
            </if>
            <if test="sex!=null">
                sex = #{sex},
            </if>
            <if test="remark!=null">
                remark = #{remark},
            </if>
            <if test="attention!=null">
                attention = #{attention}
            </if>
        </set>
        where id = #{id}

    </update>
    <!--查询检查组有没有被套餐引用-->
    <select id="findCountById" resultType="Integer">
        select count(checkgroup_id) from t_setmeal_checkgroup where checkgroup_id = #{id}
    </select>

    <!--删除检查组-->
    <delete id="deleteById">
        delete from t_checkgroup where id = #{id}
    </delete>

    <!--查询所有检查组数据-->
    <select id="findAll" resultType="CheckGroup">
        select * from t_checkgroup
    </select>


</mapper>